@font-face {
  font-family: Orchide;
  src: url("Orchide.otf");
}



body {
  margin: 0;
  font-family: muli,sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

h1 {
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p, label {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.5rem;
  font-family: muli,sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

.page-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.grid {
  display: flex;
}

.btn {
  letter-spacing: .22rem;
  font-family: muli,sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  transition: all 0.46s;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 3px;
  border: 1px solid #333;
}

.btn:hover {
  background-color: rgba(0,0,0,0);
  color: #333;
  border: 1px solid #e09e5a
}

label {
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
  line-height: 0.8rem;
  font-weight: 300 !important;
  font-family: muli,sans-serif;
}

.section-title {
  font-weight: 300;
  margin-bottom: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 5rem;
}

.section-title .line {
  background-image: linear-gradient(to right, #e09e5a, #e09e5a);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 80% 2px;
  padding-bottom: 5px;
  transition: background-size .5s ease;
}

.section-title .line:hover {
  background-size: 115% 2px;
}

.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

/**
 * Smooth scrolling on the whole document
 */
 html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.component-loader {
  padding-bottom: 0px;
}

.orchide {
  font-family: "Orchide" !important;
  font-size: 3rem !important;
  text-transform: lowercase;
}

.orchide span {
  font-family: "Orchide" !important;
  text-transform: lowercase !important;
}